<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="bi_soa_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <!-- Left arm mock hardware -->
        <ros2_control name="left_${name}" type="system">
            <hardware>
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="left_shoulder_pan">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_shoulder_pan']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_shoulder_lift">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_shoulder_lift']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_elbow_flex">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_elbow_flex']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_wrist_flex">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_wrist_flex']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_wrist_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_wrist_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_gripper">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_gripper']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

        <!-- Right arm mock hardware -->
        <ros2_control name="right_${name}" type="system">
            <hardware>
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="right_shoulder_pan">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_shoulder_pan']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_shoulder_lift">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_shoulder_lift']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_elbow_flex">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_elbow_flex']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_wrist_flex">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_wrist_flex']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_wrist_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_wrist_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_gripper">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_gripper']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

    </xacro:macro>
</robot>
