<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="soa">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import soa urdf file -->
    <xacro:include filename="$(find soa_description)/urdf/soa_kinematics.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="soa.ros2_control.xacro" />


    <xacro:soa_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
