<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bi_soa">

  <xacro:include filename="$(find soa_description)/urdf/soa_macro.xacro"/>
  <xacro:include filename="$(find soa_description)/urdf/stand.xacro"/>

  <!-- Shared root link -->
  <link name="base_link"/>

  <!-- Stand -->
  <joint name="base_to_stand" type="fixed">
    <parent link="base_link"/>
    <child link="stand_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <xacro:stand/>

  <!-- Left arm: +Y from center -->
  <joint name="left_base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="left_base_link"/>
    <origin xyz="-0.01775 0.13575 0.0248" rpy="0 0 0"/>
  </joint>
  <xacro:soa prefix="left_"/>

  <!-- Right arm: -Y from center -->
  <joint name="right_base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="right_base_link"/>
    <origin xyz="-0.01775 -0.13575 0.0248" rpy="0 0 0"/>
  </joint>
  <xacro:soa prefix="right_"/>

</robot>
